<% if can? :create, Favorite %>
  <div class="favorite">
    <% if favorite = current_user.favorited(post) %>
      <%= link_to [post.topic, post, favorite], class: 'btn btn-small btn-info', method: :delete do %>
        <i class="glyphicon glyphicon-heart"> </i>&nbsp;Liked!
      <% end %>
    <% else %>
      <%= form_for [post.topic, post, Favorite.new] do |f| %>
        <%= button_tag type: 'submit', class: 'btn btn-small btn-default' do %>
          <i class="glyphicon glyphicon-heart-empty"> </i>&nbsp;Like
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>