<h1>Posts in the <%= @topic.title %> topic</h1>
<div class="span4">
    <% if can? :create, Post %>
    <%= link_to "Add link", new_topic_post_path(@topic), class: 'btn btn-primary btn-mini' %>
    <% end %>
  </div>
  <p>

<div class="media-body">
  <%= render partial: '/topics/posts/post', collection: @posts %>
</div>
  

